<div class="container mt-5">
    <div class="row">
  
      <div class="col-md-4">
        <form [formGroup]="frm" (ngSubmit)="Kaydet()">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>Profil Bilgileri</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label>Adı Soyadı</label>
                <input type="text" class="form-control" formControlName="displayName">
              </div>
              <div class="form-group">
                <label>Telefon</label>
                <input type="text" class="form-control" formControlName="tel">
              </div>
              <div class="form-group">
                <label>Adres</label>
                <textarea rows="3" class="form-control" formControlName="adres"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <input type="submit" class="btn btn-outline-primary" value="Kaydet">
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="card" *ngIf="uye | async as user">
          <div class="card-header bg-primary text-white">
            <h4>Profil Fotoğrafı</h4>
          </div>
          <div class="card-body">
            <img width="120" height="120" [src]="user.foto ?? 'assets/profil.png'" />
            <input #inputField type="file" hidden (change)="resimYukle($event, user)" />
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-primary" (click)="inputField.click()">Resim Seç</button>
          </div>
        </div>
  
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>Beğenilen Ürünler</h4>
          </div>
          <div class="card-body" *ngFor="let begen of begenilenUrunler">
              <label><a href="mainurunler/{{begen.categoryId}}">{{begen.adi}}</a></label>
              <label class="ms-1">{{begen.fiyati | currency:'TRY':'symbol-narrow':'1.2-2'}}</label>
              <button class="btn btn-danger ms-5" (click)="BegenSil(begen)"><i class="bi bi-hand-thumbs-down"></i></button>
          </div>
          <div class="card-footer">
          </div>
        </div>
  
      </div>
    </div>
  </div>